{
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "plugins": ["prettier", "jsx-a11y", "jest"],
  "extends": [
    "plugin:@shopify/esnext",
    "plugin:@shopify/react",
    "plugin:@shopify/react",
    "plugin:@shopify/prettier",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],

  "rules": {
    "no-process-env": 0,
    "no-console": 1,
    "import/order": [
      "error",
      {
        "newlines-between": "never"
      }
    ],
    "@shopify/jsx-no-hardcoded-content": 0,
    "@shopify/strict-component-boundaries": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
