{
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "plugins": ["prettier", "jsx-a11y", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@shopify/esnext",
    "plugin:@shopify/react",
    "plugin:@shopify/prettier",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "no-process-env": "off",
    "no-console": ["error"],
    "import/order": [
      "error",
      {
        "newlines-between": "never"
      }
    ],
    "@shopify/jsx-no-hardcoded-content": "off",
    "@shopify/strict-component-boundaries": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
