{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "plugin:@shopify/esnext",
    "plugin:@shopify/react",
    "prettier",
    "plugin:jsx-a11y/recommended"
  ],

  "rules": {
    "no-process-env": 0
  }
}
